/* Default styles */
body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Button styles */
.dark-mode-button {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 999;
}

/* Button styles on scroll */
.dark-mode-button.scroll {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/* Dark mode styles */
body.dark-mode {
    background-color: #111;
    color: #fff;
}
